* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --color-green: springgreen;
    --color-dgray: #333;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

body {
    background: #282a36;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    padding: 32px;
    border-bottom: 2px solid var(--color-dgray);
    border-radius: 16px;
    background: rgba(0,0,0,0.1);
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 16px;
    /* line-height trabalha a altura da linha , dica use 10px a mais do tamanho da font-size */
    line-height: 26px;
    margin: 0 16px;
    text-decoration: none;
    
}

.links a:hover {
    color: var(--color-green);
    transition: color 500ms;
}

#wrapper {
    text-align: center;
    padding: 64px;
}

#wrapper img {
    height: 256px;
    border-radius: 50%;
    border: 4px solid var(--color-green);
}

#title {
    text-align: center;
}

#title h1 {
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
    margin: 16px 0;
}

#title h2 {
    font-size: 16px;
    opacity: 0.8;
    line-height: 42px;
    font-weight: normal;
    margin-bottom: 32px;
}

#banner {
    
    margin: 0 auto;
    width: 800px;
    height: 240px;
    background: rgba(0,0,0,0.1);
    border-radius: 16px;
    border: 2px solid var(--color-dgray);
}

#banner .text {
    display: block;
    margin-top: 64px;
    text-align: center;
    
    
}

#banner .text p {
    max-width: 780px;
    font-size: 16px;
    margin: 16px 0;
    color: wheat;
    padding: 0 16px;
}

#links-footer {
    margin-top: 256px;
    padding: 32px;
    background: rgba(0,0,0,0.1);
    border-top: 2px solid var(--color-dgray);
    border-radius: 16px;
}

#links-footer a {
    border-bottom: 1px solid var(--color-green);
}

/* Classes Page */

.title-classes{
    margin: 64px 0;
}